/* src/components/Orders.css */

.order-add {
    padding: 20px;
    width:100%
  }
  
  .order-list {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .order-item {
    display: grid;
    grid-template-columns: 0.5fr 2fr 2fr 1fr 1fr 1fr;
    align-items: start;
    gap: 20px;
    border: 1px solid #ff6347;
    border-radius: 10px;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    color: #505050;
    transition: transform 0.3s;
  }
  
  .order-item:hover {
    transform: scale(1.02);
  }
  
  .order-item img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 5px;
  }
  
  .order-item div {
    display: flex;
    flex-direction: column;
  }
  
  .order-item-food, .order-item-name {
    font-weight: 600;
  }
  
  .order-item-name {
    margin-top: 10px;
    margin-bottom: 5px;
  }
  
  .order-item-address p, .order-item-phone {
    margin: 0;
  }
  
  .order-item select {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  @media (max-width: 768px) {
    .order-list{
        display: flex;
       
        flex-wrap: wrap;
    }
    .order-item {
      grid-template-columns: 1fr;
      gap: 10px;
      padding: 15px;
    }
    .order-item div, .order-item p, .order-item select {
      margin-bottom: 10px;
    }
  }
  