.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;
}
.navbar .logo{
font-size: 2rem;
color: purple;
font-weight: 600;
}
.navbar .profile{
    width: 40px;
}
.logomain{
    justify-content: center;
    align-items: center;
    display: flex;
    column-gap: 10px;
}